<div class="row">
	<aside class="col-md-3 hidden-sm hidden-xs">
		<h2>Basic Information</h2>
		<p>Class Time: TuTh 12:30-1:50, SST 238</p>
		<p>Discussion: We 5:00-6:50, DBH 1423</p>
		<p>Slack: <a href="https://uci-inf231-fa19.slack.com">https://uci-inf231-fa19.slack.com</a></p>
		<p>Email: <a href="epstein@ics.uci.edu">epstein@ics.uci.edu</a></p>
		<p>Office hours: By appointment, and as scheduled for project meetings</p>
		<h2>Course Staff</h2>
		<a href="http://depstein.net">Professor Daniel Epstein</a>
	</aside>
	<main class="col-md-9 col-sm-12">
	   <p>Welcome! This course aims to provide an introduction to the field of human-computer interaction (HCI), with an emphasis on user interface design and evaluation. You will learn methods for user needs and task analysis as well as interface testing, and guidelines for good user interface design. This class will focus on <em>practical</em> HCI skills and training. It will cater to the needs of Masters and PhD students who are interested in practically applying HCI skills and methods. IN4MATX 232 instead focuses on HCI as a <em>research topic</em> (e.g., HCI literature, HCI theory, and current research questions).</p>
	   <p>We will emphasize open discussion and feedback in all aspects of the course.</p>
	   <h2>Readings</h2>
	   <p>Most weeks will have a required reading or two to introduce that week's topic. You are expected to have read and considered the assigned readings prior to class, as in-class activities will build upon the readings.</p>
	   <h2>Reading queries</h2>
	   <p>To help facilitate useful in-class discussion, you are expected to post at least one question on the method or topic discussed to Slack by midnight the day before. Questions can be short. One sentence is fine, but more is welcome. Responding to someone else's question is also sufficient for credit.</p>
	   <p>Reading queries will be graded on a binary scale.</p>
	   <ul>
	      <li>0: If you did not participate.</li>
	      <li>1: If you did participate.</li>
	   </ul>
	   <p>You may miss up to two reading queries without penalty.</p>
	   <p>Reading queries are due at 11:59pm the night before each class meeting. This ensures time the next day to review questions before class. Submitting the day of class, just before class, or in class is therefore unacceptable, risking zero credit. But feel free to continue a discussion after this, even after class.</p>
	   <h2>In-class time</h2>
	   <p>Class will generally be a mix of lecture, discussion, and activities. In-class time aims to be interactive and participatory.</p>
	   <h2>Discussion time</h2>
	   <p>Discussion time will focus on project-related activities such as team meetings and design critique. Discussions are optional, but are a great opportunity to schedule meetings or gather feedback with other students in the class.</p>
	   <h2>Project</h2>
	   <p>A course project will be a major component of your work. Details about the project are <a href="./project">here</a>. Dates are also linked from the course calendar.</p>
	   <p>A Canvas or Slack thread will be created with some sample project ideas. You can also use that discussion to identify potential project partners and post your own ideas.</p>
	   <h2>Grading</h2>
	   <p>Grades will roughly correspond to:</p>
	   <ul>
	      <li>75% Group project</li>
	      <ul>
	         <li>5% Project proposal</li>
	         <li>15% Report on formative component</li>
	         <li>15% Report on design component</li>
	         <li>15% Report on evaluative component</li>
	         <li>10% Final poster</li>
	         <li>15% Final report</li>
	      </ul>
	      <li>15% Reading queries</li>
	      <li>10% Participation</li>
	   </ul>
	   <p>Most of the grading in this course is necessarily subjective. We will attempt to communicate expectations and feedback throughout the course, but it is your responsibility to communicate with us if you would like guidance in this regard.</p>
	   <p>Project milestone grading will emphasize progress and preparation to engage with direction and feedback. Final project report and poster grading will then consider the overall execution.</p>
	   <h2>Repository</h2>
	   <p>This website is live on GitHub: <a href="https://github.com/uci-inf-231/inf231-fa19" target="_blank">https://github.com/uci-inf-231/inf231-fa19</a></p>
	   <p>You can create issues if information is unclear, incorrect, or out-of-date. You can even submit a pull request to resolve them yourself!</p>
	   <h2>Acknowledgments</h2>
	   <p>This course draws on materials from <a href="https://www.gillianhayes.com/">Gillian Hayes</a> and <a href="https://www.ics.uci.edu/~kobsa/">Alfred Kobsa</a> at UCI and <a href="https://www.hcde.washington.edu/fox">Tyler Fox</a>, <a href="https://homes.cs.washington.edu/~jfogarty/">James Fogarty</a>, and <a href="http://eagapie.com/">Elena Agapie</a> at the University of Washington. Many thanks!</p>
	</main>
</div>