<main class="container-fluid">
   <p class="tbd">All material subject to change, particularly prior to the start of the quarter.</p>
   <h1>Project</h1>
   <p>A course project will be a major component of your work. It will require hands-on experience with Human-Computer Interaction, while remaining open to different possibilities.</p>
   <p>Your course project must have three components, aligning with three common phases in the human centered design process:</p>
   <ol>
      <li>A <em>formative</em> component, in which you must understand the needs of the people you are designing for.</li>
      <li>A <em>design</em> component, in which you must design a prototype to meet those needs.</li>
      <li>An <em>evaluative</em> component, in which you must evaluate that prototype.</li>
   </ol>
   <p>We expect most students will do projects in pairs. We will consider groups of three, and very strongly discourage individuals. Working in groups is a necessary part of both research and practice, and is also important for the logistics of this course.</p>
   <p>Some sample project ideas will be gathered ahead of time on Slack. You can also use that discussion to identify potential project partners and post your own ideas.</p>
   <h2>Early Feedback</h2>
   <p>Course staff will be made available to meet and provide early feedback as desired.</p>
   <p>Meeting is optional. You can also email to request feedback or inquire about arranging another time to meet.</p>
   <h2>Project Deliverables</h2>
   <p>Project deliverables are defined in terms of a <em>proposal</em>, a <em>milestone</em>, a <em>final poster</em>, and a <em>final report</em>. These are due the night before class (11:59pm) on:</p>
   <ul>
      <li *ngFor="let project of projects">
         {{project.title}}: {{project.dueShort}}
      </li>
   </ul>
   <h3 id="proposal">Project Proposal</h3>
   <p>Your proposal will define your initial plan for this project. You can and should update this plan based on feedback, progress, and findings. But the proposal needs to demonstrate a robust initial plan for your project.</p>
   <p>Projects <em>must</em> have a formative, design, and evaluative component. It might be helpful to read the subsequent sections (<a routerLink="./" fragment="formative">formative</a>, <a routerLink="./" fragment="design">design</a>, <a routerLink="./" fragment="evaluative">evaluative</a>) to get a sense of whether your project idea will fit the course's requirements.</p>
   <p>You are welcome and even encouraged to align your project with your research, other course projects, or other goals outside this course. However, it is critical to define what you will accomplish in the course project. The course project must stand on its own.</p>
   <h4>Document</h4>
   <p>Prepare a roughly 1 page document addressing the following points:</p>
   <ul>
      <li>
         Your team members
      </li>
      <li>
         The problem: What is the pain point you're looking to solve in your design? Who is the target audience, and why are they using it?
      </li>
      <li>
         Formative component: How do you plan to understand the needs of your target audience? How do you plan to recruit them? Do you have any method(s) in mind?
      </li>
      <li>
         Design component: What fidelity do you plan to design at? What screens or features are necessary for the design, and what can be left out?
      </li>
      <li>
         Evaluative component: How do you plan to determine the usability of your design? Who do you plan ask to help evaluate? Do you have any method(s) in mind?
      </li>
   </ul>
   <h4>Presentation</h4>
   <p>Prepare a roughly 5-minute presentation. Be sure to highlight the problem you are planning to tackle and how you are planning to approach each component, to the extent that you know.</p>
   <p>This presentation can be fairly informal. The primary goal of this presentation is feedback, and it is understood that you may not yet know how you are approaching each component. Please be appropriately candid, thoughtful, and engaged.</p>
   <h4>Submission</h4>
   <span *ngFor="let project of projects">
      <div *ngIf="project.anchor == 'proposal'">
         <p>Due {{project.dueLong}}.</p>
         <p>Submit your proposal document in PDF format: <a [href]="project.link.document">{{project.link.document}}</a></p>
         <p>Submit your proposal presentation in PDF, PPTX, or KEY format: <a [href]="project.link.presentation">{{project.link.presentation}}</a></p>
         <p>You can make a project group on Canvas at <a href="https://canvas.eee.uci.edu/courses/18236/groups">https://canvas.eee.uci.edu/courses/18236/groups</a>.</p>
      </div>
   </span>
   <h3 id="formative">Formative Component</h3>
   <p>In the formative component, you must conduct some sort of activity to understand the needs of the people you are designing for. Since choice of formative methods depend on access and population needs, we are not requiring one specific method. Some example methods include:</p>
   <ul>
      <li>Surveys</li>
      <li>Contextual Inquiry</li>
      <li>Interviews</li>
      <li>Focus Groups</li>
   </ul>
   <p>The course staff is happy to offer guidance in choosing an appropriate formative method. As you will need to evaluate your design with your target population, we encourage methods which involve directly engaging with potential users. However, formative methods sometimes take the form of observing people's discussion via public records (e.g., social media activity, forum discussions, product and app reviews). These methods may be used if they are more appropriate to understand the pain point outlined in the project proposal.</p>
   <p>The formative assessment does not need to be at the rigor required for a research publication, but must be enough to start to suggest some design directions. For example, it may be sufficient to survey 20-30 people (publications often survey hundreds), conduct inquiries or interviews with 2-3 people (10-30 is typical), or conduct a single focus group with a 3-4 people (5 or more small groups is common).</p>
   <h4>Document</h4>
   <p>Prepare a roughly 2-page document addressing the following points:</p>
   <ul>
      <li>Re-state the pain point you are looking to understand and address.</li>
      <li>Describe the target population broadly and the sample of people you studied in this stage.</li>
      <li>Explain your method and why you selected that method.</li>
      <li>Describe what you learned from your formative assessment and how that will impact your design approach. Aim for at least three takeaways.</li>
   </ul>
   <p>Feel free to include any materials relevant to your progress as an appendix (e.g., does not count toward the 2 page limit). Example materials include an interview or survey protocol, field notes from a contextual inquiry, or exemplar participant quotes.</p>
   <h4>Presentation</h4>
   <p>Prepare a roughly 5-minute presentation. Be sure your presentation re-introduces the problem, describes your target population and method, explains what you learned from your formative assessment, and articulates how that will impact your design approach.</p>
   <p>This presentation should be moderately formal, as though it needed to stand alone as a conference or other venue. Practicing presenting in-progress and completed work to research audiences can be helpful, and this is useful opportunity for feedback from course staff and classmates. That said, <strong>there is no need to dress differently for your presentation</strong>.</p>
   <h4>Submission</h4>
   <span *ngFor="let project of projects">
      <div *ngIf="project.anchor == 'formative'">
         <p>Due {{project.dueLong}}.</p>
         <p>Submit your formative document in PDF format: <a [href]="project.link.document">{{project.link.document}}</a></p>
         <p>Submit your formative presentation in PDF, PPTX, or KEY format: <a [href]="project.link.presentation">{{project.link.presentation}}</a></p>
      </div>
   </span>
   <h3 id="design">Design Component</h3>
   <p>In the design component, you must develop some sort of prototype of your design. Unless otherwise discussed with the course staff, your prototype must be digital (e.g., an app, a website, a virtual reality experience). Prototypes need not be feature-complete, but should support at least two tasks motivated by the formative assessments.</p>
   <p>First, define the two (or more) tasks your design will support. Aim to align the task with real-world actions (e.g., "schedule a meeting from noon to 3pm") rather than interface actions (e.g., "use the date selections to pick 1pm and 3pm as the start and end times and push the 'schedule meeting' button"). The description should clarify what constitutes successful completion of the task.</p>
   <p>In prototyping, you must first prototype on paper, showing at least a few sketches for screens in support of the two tasks. You must then translate your design to a higher-fidelity (e.g., wireframe, mockup, clickable/interactive, implemented) and incorporate feedback from your evaluation. In general, we recommend lower-fidelity designs to enable feedback to better match the design, but we acknowledge that in-progress projects may have mockup or implementation work already underway. You may find it useful to conduct a heuristic evaluation or usability test of your low-fidelity prototype, but neither is required at this stage.</p>
   <p>We will not require any specific tools for prototyping, but some recommendations include:</p>
   <ul>
      <li><a href="https://balsamiq.com/">Balsamiq</a></li>
      <li><a href="https://www.axure.com/">Axure</a></li>
      <li><a href="https://www.sketch.com/">Sketch</a></li>
      <li><a href="https://www.adobe.com/products/xd.html">Adobe XD</a></li>
   </ul>
   <p>We acknowledge that these tools vary in price, but some are free (Adobe XD) and many have trial editions to allow for exploration.</p>
   <h4>Document</h4>
   <p>Prepare a roughly 4-page document addressing the following points:</p>
   <ul>
      <li>Re-state the pain point you are looking to address and the design takeaways from your formative work.</li>
      <li>State the two (or more) tasks you are supporting, given the formative assessment.</li>
      <li>Include a few sketches from the paper prototypes for each of these features, describing how a person might interact with them.</li>
      <li>Describe insights from the in-class evaluation of paper prototypes.</li>
      <li>Include a few sketches from the higher-fidelity prototypes, describing any changes made in response to the in-class evaluation.</li>
   </ul>
   <p>The page limit for this stage is intentionally higher to accomodate screenshot inclusion, but please use it as an estimate. Feel free to include any other sketches in an appendix. Similarly, if clickable or implemented prototypes are developed and publicly available, feel free to include a link.</p>
   <h4>Presentation</h4>
   <p>This presentation should describe your tasks and highlight the designs you created. It can be shorter (2-3 minutes) to provide enough time for design critique.</p>
   <p>Since this presentation is focused on critique of in-progress design, it can again be fairly informal.</p>
   <h4>Submission</h4>
   <span *ngFor="let project of projects">
      <div *ngIf="project.anchor == 'design'">
         <p>Due {{project.dueLong}}.</p>
         <p>Submit your design document in PDF format: <a [href]="project.link.document">{{project.link.document}}</a></p>
         <p>Submit your design presentation in PDF, PPTX, or KEY format: <a [href]="project.link.presentation">{{project.link.presentation}}</a></p>
      </div>
   </span>
   <h3 id="evaluative">Evaluative Component</h3>
   <p>In the evaluative component, you must take your design back to your your target population for feedback. You must first make any changes to your prototype in response to the in-class design critique. Make these changes prior to starting evaluation; otherwise, you may get redundant feedback!</p>
   <p>Like in the formative component, we will not specify an evaluative method. Pick an appropriate method based on the state of the prototype and what feedback would be most useful. We strongly encourage methods which allow for conversation (e.g., interviews) over methods which only allow for one-directional feedback (e.g., surveys). Evaluations may focus only on usability (e.g., heuristic evaluation) or a mixture of usability and utility.</p>
   <p>Similar to the formative component, the evaluative assessment does not need to be at the rigor required for a research publication. For example, it is sufficient to interview with 2-3 people.</p>
   <h4>Document</h4>
   <p>Prepare a roughly 3-page document addressing the following points:</p>
   <ul>
      <li>Re-state the pain point you are looking to address and include a few screenshots of your prototype.</li>
      <li>Describe any changes you made to your design in response to the critique or further reflection.</li>
      <li>Explain your evaluation method and why you selected that method. Describe your population sample.</li>
      <li>Describe what you learned from your evaluative assessment and how could impact another phase of design or implementation. Aim for at least three takeaways.</li>
   </ul>
   <p>Feel free to include any materials relevant to your progress as an appendix (e.g., does not count toward the 2 page limit). Example materials include an interview protocol or notes from interviews.</p>
   <h4>No Presentation</h4>
   <p>Since it will be completed close to the end of the quarter, there will be no presentation of the evaluative portion. Findings will instead be presented in the final poster session.</p>
   <h4>Submission</h4>
   <span *ngFor="let project of projects">
      <div *ngIf="project.anchor == 'evaluative'">
         <p>Due {{project.dueLong}}.</p>
         <p>Submit your evaluative document in PDF format: <a [href]="project.link.document">{{project.link.document}}</a></p>
      </div>
   </span>
   <h3 id="finalposter">Final Poster</h3>
   <p>"Poster" is a bit of a misnomer for this deliverable; we will not create physical posters because they're expensive to print and wasteful for use in a single event. Instead, create a slide deck which summarizes the core contributions of your project and your design. The slide deck should still serve the role similar to a poster: a visual aide which a passerby at a coffee break can glance at for a minute or two to get a gist of your project's goal and what you accomplished. Aim for 4-6 slides which explain your project's goals and each stage of the design. Since you may be talking with someone about your project, set up your slides to auto-advance every ~15 seconds or so and loop back to the beginning on completion.</p>
   <p>Each team will have a monitor next to their table; you will present from your own laptop. Consider bringing a second laptop so you can show your designs to an interested persion while your slide deck continues presenting. We can provide some monitors, but if your work in DBH and have a monitor which is easy to move, please bring it to the poster session. We can provide a cart to help transport monitors.</p>
   <h4>Submission</h4>
   <span *ngFor="let project of projects">
      <div *ngIf="project.anchor == 'finalposter'">
         <p>Due {{project.dueLong}}.</p>
         <p>Submit your poster in PDF, KEY, or PPTX format: <a [href]="project.link.document">{{project.link.document}}</a></p>
      </div>
   </span>
   <h3 id="finalreport">Final Report</h3>
   <p>Prepare a final report that is 4 to 10 pages in length, excluding references.</p>
   <p>Your final report should be presented the general structure of a research paper:</p>
   <ul>
      <li>Introduction and Motivation</li>
      <li>Overview of Process</li>
      <li>Description of Methods</li>
      <li>Presentation of Results</li>
      <li>Discussion / Future Work / Conclusion</li>
      <li>References, if applicable</li>
   </ul>
   <p>Your prior reports should provide a good starting point for preparing this report. Write according to the content you have. Be appropriate thorough and precise in your presentation, but do not needlessly pad your text.</p>
   <p>Use the SIGCHI Proceedings Format: <a href="https://chi2020.acm.org/authors/chi-proceedings-format/">https://chi2020.acm.org/authors/chi-proceedings-format/</a>. You may use either Word or LaTeX to prepare your paper. Do not spend substantial time trying to correct formatting inconsistencies, just do your best.</p>
   <p>Additional guidance regarding effective paper writing can be found in:</p>
   <p>Jacob O. Wobbrock. <a href="https://faculty.washington.edu/wobbrock/pubs/Wobbrock-2015.pdf">Catchy Titles Are Good: But Avoid Being Cute</a>. Writing Advice, White Paper, 2015.</p>
   <h4>Submission</h4>
   <span *ngFor="let project of projects">
      <div *ngIf="project.anchor == 'finalreport'">
         <p>Due {{project.dueLong}}.</p>
         <p>Submit your final report in PDF format: <a [href]="project.link.document">{{project.link.document}}</a></p>
      </div>
   </span>
</main>